<h1>Home#index</h1>
<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %> or
<%= link_to "Sign in", new_user_session_path %><br />
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br />
<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %><br />
<%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %><br />
<% end %>
<div id="fb-root"></div>
<div id="TDFriendSelector">
	<div class="TDFriendSelector_dialog">
		<a href="#" id="TDFriendSelector_buttonClose">x</a>
		<div class="TDFriendSelector_form">
			<div class="TDFriendSelector_header">
				<p>
					Select your friends
				</p>
			</div>
			<div class="TDFriendSelector_content">
				<p>
					Then you can invite them to join you in the app.
				</p>
				<div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
					<div class="TDFriendSelector_selectedCountContainer">
						<span class="TDFriendSelector_selectedCount">0</span> / <span class="TDFriendSelector_selectedCountMax">0</span> friends selected
					</div>
					<input type="text" placeholder="Search friends" id="TDFriendSelector_searchField" />
				</div>
				<div class="TDFriendSelector_friendsContainer"></div>
			</div>
			<div class="TDFriendSelector_footer TDFriendSelector_clearfix">
				<a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">Previous</a>
				<a href="#" id="TDFriendSelector_pageNext">Next</a>
				<div class="TDFriendSelector_pageNumberContainer">
					Page <span id="TDFriendSelector_pageNumber">1</span> / <span id="TDFriendSelector_pageNumberTotal">1</span>
				</div>
				<a href="#" id="TDFriendSelector_buttonOK">OK</a>
			</div>
		</div>
	</div>
</div>
<p>
	<input type="button" id="sendReqToOne"   value="Send Request to One User" />
	<input type="text" value="100002944043966" name="user_id" />
</p>
<p>
	<input type="button" id="sendReqToMany"  value="Send Request to Many Users" />
</p>
<p>
	<input type="button" id="btnSelect1" style="display: none" value="btnSelect1" />
	<input type="button" id="btnSelect2"  value="Select multiple facebook friend to invite" />
</p>

<!-- <script src="/JS/example.js"></script> -->
<script src="/JS/instance.js"></script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 75pt6583279pqw
  onLoad: onLinkedInLoad
  authorize: true
  credentials_cookie: true
  credentials_cookie_crc: true
  scope: r_fullprofile r_network rw_nus rw_groups r_contactinfo w_messages
</script>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>

<p>
	<input type="button" onclick="invitationBody(); return false;"  value="invitationBody" />
	<input type="button" onclick="onLinkedInAuth2(); return false;"  value="onLinkedInAuth2" />
	<input type="button" onclick="friendSelector(); return false;" value="Get Connection / Friend Selector" />
</p>
<div id="profiles"></div>
<div id="sendMessageForm"></div>
<div id="sendMessageResult"></div>

<script type="IN/RecommendProduct" data-company="2200661" data-product="340586" data-counter="right"></script>

<div id="list_container" style="display: none">
<div>
  <div class="header">
      <h2 >Select People</h2>
      <a href="#" id="close">x</a>
  </div>
  <div class="body">  
	 <ul id="list">
	   <li class="listItem">
      	 <div>
          <img  src="http://m.c.lnkd.licdn.com/mpr/mprx/0_rVO-LKAzJu_phFUqt4Y3L199R7rlh3oqtRoSL1KLXuXT05jNypaOwPXIzFKm_6I4AJp2oNCsB9sF" alt="Abhishek Singh" >
          <span >Abhishek Singh</span>
          <span class="select_friend" >Select</span>
       	 </div> 
       </li>
	   <li>Shyam</li>
	   <li>Geeta</li>
	 </ul>
  </div>
  <div class="footer">    
      <a href="#" id="ok" style="">
        <div>OK</div>
      </a>
  </div>
</div>
</div>
